.title-font{
	font-size: 110%;
}

.td-cursor{
	cursor:pointer;
}

.td-align{
	text-align: center !important;
	vertical-align: middle !important;
}

.table > tbody > tr > td{
	text-align: center !important;
	vertical-align: middle !important;
}

.photo-size{
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
}

.modal-size{
	width: 80%;
}

.modal-header-size{
	font-size: 150%;
}

.modal-items{
	width: 70% !important;
	margin-left: 15% !important;
}

.modal-font{
	font-size: 150% !important;
}

 .ianctive_button:hover {
	 color:#0618d8 !important;
	 cursor:pointer;
 }

.ianctive_button {
	color:  #d80b06 !important;
	cursor:pointer;
}

.modal-photo{
	max-width: 100%;
	height: auto;
}

.wide-modal{
	height: 200px;
	height: 200px;
}

.vendor-photo-modal{
	height: 300px;
	width: 300px;
}