	.add-product{
		font-size: 120%;
		color: #990000;
	}

	.page-format{
		width: 70%;
		margin-left: 15%
	}

	.title-format{
		font-size: 25px;
		color: #FF0000;
	}

	.btn-add{
		font-size: 120%;
		color: #990000;
	}

	.product-size-select-format{
		width: 70%;
		margin-left: 15%
	}
	.product-size-select{
		display:block !important;
	}

	.input-field{
		font-size: 100%;
		color: #0055C7
	}