.paid-icon{
	font-size: 90%;
	background-color: #1db31d;
}

.shipped-icon{
	font-size: 90%;
	background-color: #1aa5c2;
}

.cancelled-icon {
	font-size: 90%;
	background-color: #cbb266;
}

.tb-recently td{
 text-align:center;
}

.recent-custom{
	padding: 0 30px;
}

.lab-size{
	font-size: 150%!important;
}