.title-font{
	font-size: 110%!important;
}

.del-field{
	width: 50px!important;
}

.th-align{
	text-align: center;
	vertical-align: middle;
}

.table > tbody > tr > td{
	text-align: center !important;
	vertical-align: middle !important;
}

.modal-size{
	width: 80%;
}

.modal-header-size{
	font-size: 150%;
}

.modal-title-color{
	color: #ac072b;
}

.modal-body-size{
	font-size: 120%;
}

.modal-table-width{
	width: 50%;
	border: 0;
}

.modal-th{
	border:0!important;
	color: #2f21d4;
}

.th-border{
	border: 0!important;
}

.add-btn{
	margin-left: 20px;
	border:1px solid #ccc;
	background-color: #52ef63;
	color: #ff173d;
	font-size: 110%;
}

.del-color{
	color: #ff0f13;
}

.edit-color{
	color: #2e16ff!important;
}

