.title-font{
	font-size: 110%!important;
}

.modal-size{
	width: 80%;
}

.modal-header-size{
	font-size: 150%;
}

.modal-title-color{
	color: #ac072b;
}

.modal-body-size{
	font-size: 120%;
}

.th-align{
	text-align: center;
	vertical-align: middle;
}

.table > tbody > tr > td{
	text-align: center !important;
	vertical-align: middle !important;
}

