	.add-product{
		font-size: 120% !important;
	}

	.add-product1{
		font-size: 120%;
	}

	.view-product{
		font-size: 120% !important;
		color: #cc8d41 !important;
	}

	.td-cursor{
		cursor: pointer;
	}

	.page-format{
		width: 70%;
		margin-left: 15%
	}

	.title-format{
		font-size: 25px!important;
		color: #FF0000!important;
	}

	.btn-add{
		font-size: 120%;
		color: #FFB848;
	}

	.product-size-select-format{
		width: 70%;
		margin-left: 15%
	}
	.product-size-select{
		display:block !important;
	}

	.input-field{
		font-size: 100%;
		color: #0055C7
	}

	.edit-title{
		font-size: 25px;
		color: #FF0000!important;
	}

	.photo{
		width: 200px;
		height: 200px;
		min-height: 100px;
		max-height: 200px;
	}

	.title-icon{
		font-size: 110%;
	}

	.modal-size{
		width: 80%;
	}


	.inactive_button {
	   	color:  #d80b06;
		cursor: pointer;
	}

	.active_button {
		color:#0618d8;
		cursor: pointer;
	}

	.lab-font{
		font-size: 100%;
	}

	.del-color{
		color: #ff0f13;
	}

	.edit-color{
		color: #2e16ff;
	}


