.title-font{
	font-size: 110%!important;
}

.tbody-style{
	text-align:justify;
}

.th-align{
	text-align: center;
	vertical-align: middle;
}

.table > tbody > tr > td{
	text-align: center !important;
	vertical-align: middle !important;
}

.del-field{
	width: 50px!important;
}

.modal-size{
	width: 80%;
}

.modal-header-size{
	font-size: 150%;
}

.modal-title-color{
	color: #ac072b;
}

.modal-body-size{
	font-size: 100%;
}

.th-border{
	border: 0!important;
}

.detail-title{
	color: #f64747 !important;
	font-size: 25px !important;
}

.detail-format{
	width: 90%;
	margin-left: 5%
}

.cancel-btn{
	text-align: center;
	cursor: pointer;
	color: #3022ca;
}

.customer-style{
	width: 70%;
	margin-left:15%
}

.label-size{
	font-size: 120%;
	color: #d4367d !important;
}

.customer-title{
	color: #f64747 !important;
	font-size: 25px !important;
}

.btn-font{
	font-size: 120%;
}

.btn-size{
	width: 50%;
	margin-left: 25%
}

.del-color{
	color: #ff0f13;
}